* {
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: black;
    color: white;
    text-align: center;
}
* h1 h5 {
 font-weight: 600;
}
.foto_2 {
    height: 245px;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
}
.iconos {
    
    font-size: 300%;
    color: white;
}
.iconos_qs i {
    font-size: 180%;
}
.quienessomos {
   font-size: large;
}
.todoslosiconos {
    position: absolute;
    right: 350px;
    justify-content: flex-end;
}
.todoslosiconos a i {
    color: white;
    

}
a:hover{

    color: #fff;
  }
.logo_barra {
    justify-content: flex-start;
}
.texto_footer {
    text-align: start;
}
  @media only screen and (max-width: 768px) {
      .texto_footer {
          text-align: center;
      }
      .todoslosiconos {
          position: static;
          justify-content: center;
      }
  }

