* {

}
body {
    background-color: black;
    color: white;
    text-align: center;
    
}
.foto_2 {
    height: 245px;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
}
.iconos {
    
    font-size: 300%;
    color: white;
}
.iconos_qs i {
    font-size: 180%;
}
.quienessomos {
   font-size: large;
}
.todoslosiconos {
    position: absolute;
    right: 350px;
}